*,
*::after,
*::before{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body{
  background-color: rgb(53, 48, 48);
}

#app{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}